# Ecommerce Purchases Assignment

In [1]:
__author__ = "Renan Luiz Andrade Vital"
__email__ = "vitalrenan@icloud.com"


"""
    This is a data analysis report form Fake Amazon purchases data assignment.
    Created by Renan Vital, certified Python Programmer
    Any questions please contact me by email, vitalrenan@icloud.com.
    
"""

'\n    This is a data analysis report form Fake Amazon purchases data.\n    \n'

In [4]:
#Importing Pandas libary 
import pandas as pd

#Opening the CSV file with pandas
df = pd.read_csv('Ecommerce Purchases')

#DF analisys
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [2]:
#Info from DF
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**What is the average Purchase Price?**

In [15]:
PurchasePriceMean = df['Purchase Price'].mean()
print("The average Purchase Price is US${:.2f}".format(PurchesePriceMean))

The average Purchase Price is US$50.35

**What were the highest and lowest purchase prices?**

In [17]:
MaxPurchasePrice = df['Purchase Price'].max()
MinPurchasePrice = df['Purchase Price'].min()
print("The highest and lowest purchase prices are US${:.2f} and US${:.2f} respectively".format(MaxPurchasePrice, MinPurchasePrice))

The highest and lowest purchase prices are US$99.99 and US$0.00 respectively

**How many people have English 'en' as their Language of choice on the website? **

In [30]:
enUsers = sum(df['Language']=='en')
print("There are {} english speakers on website".format(enUsers))

There are 1098 english speakers on website

**How many people have the job title of "Lawyer"**

In [31]:
lawerUsers = sum(df['Job']=='Lawyer')
print("There are {} lawers costumers".format(lawerUsers))

There are 30 lawers costumers

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

In [41]:
amUsers , pmUsers = df['AM or PM'].value_counts()
print("There are {} AM Users and {} PM Users".format(amUsers , pmUsers))

There are 5068 AM Users and 4932 PM Users

**What are the 5 most common Job Titles?**

In [54]:
fiveMostCommonJobs = df["Job"].value_counts()[:5]
print(fiveMostCommonJobs)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [69]:
purchase90WT = df[df['Lot']=="90 WT"]['Purchase Price'].item()
print("The purchase price from 90WT location User is US${}".format(purchase90WT))

The purchase price from 90WT location User is US$75.1

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [71]:
userEmail = df[df["Credit Card"] == 4926535242672853]['Email'].item()
print("The user email is: {}".format(userEmail))

The user email is: bondellen@williams-garza.com

**How many people have American Express as their Credit Card Provider *and made a purchase above $95?**

In [81]:
amExp95Above = sum((df["CC Provider"]=="American Express")&(df['Purchase Price']>95))
print("There are {} American Express users that expend more than US$95,00".format(amExp95Above))

There are 39 American Express users that expend more than US$95,00

**What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [99]:
def emailProvider(email):
    provider = email.split("@")[1].split(".")[0]
    return provider

top5emailProviders = df["Email"].apply(lambda email: emailProvider(email)).value_counts()[:5]
print(top5emailProviders)

hotmail     1638
yahoo       1616
gmail       1605
smith         69
williams      55
Name: Email, dtype: int64